


    <h2>Welcome, {{ user.username }}!</h2>
    <p>This is your profile page!</p>

    <img src="/images/kitten_copia.jpg" alt="kitten" width="20%"/>
    
<div>
    <button>
        <a href="/profile">Reload the page</a>
    </button>
</div>

<p><a href="/">Go back to HomePage</a></p>
        <p><a href="/logout">Logout</a></p>